<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoChartApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BddpersonnelDataContextConnectionString" connectionString="User Id=root;Host=localhost;Database=bddpersonnels;Persist Security Info=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PhotoChartApp.Properties.Settings>
            <setting name="IPAdress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>GestionnaireBDD</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Password1234@but</value>
            </setting>
        </PhotoChartApp.Properties.Settings>
    </userSettings>
</configuration>